@mixin container {
    margin-right: auto;
    margin-left: auto;


    @media (max-width: 576px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }


    @media (min-width: 1200px) {
            padding-left: 40px;
            padding-right: 40px;
    }

}