.footer{
    @include container;

    height: 80px;
    margin-top: 167px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-light-grey;
    
    @media (max-width: 364px){
        justify-content: center;    
    }


    &__text{
        font-weight: 400;
        line-height: 1.75rem;
        font-size: 1.5rem;
    }

    &__right{
        display: flex;

        a{
            margin: auto 0;
        }

        img{
            margin-right: 24px;
        }
    }
}