.btn-big{
    width: 350px;
    max-width: 70%;
    height: 66px;
    background-color: $color-light-green;
    color: $color-white;
    border-radius: 100px;
    font-weight: bold;
    

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }
}

.btn-small{
    width: 140px;
    height: 50px;
    background-color: $color-light-green;
    color: $color-white;
    border-radius: 100px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }
}